/* iCheck plugin Polaris2 skin
----------------------------------- */
.icheckbox_polaris2,
.iradio_polaris2 {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 27px;
    height: 19px;
    background: url(polaris2.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_polaris2 {
    background-position: 0 0;
}
    .icheckbox_polaris2.hover {
        background-position: -31px 0;
    }
    .icheckbox_polaris2.checked {
        background-position: -62px 0;
    }
    .icheckbox_polaris2.disabled {
        background-position: -93px 0;
        cursor: default;
    }
    .icheckbox_polaris2.checked.disabled {
        /*background-position: -124px 0; @@@@@@@@@*/
        background-position: -62px 0;
    }

.iradio_polaris2 {
    background-position: -155px 0;
}
    .iradio_polaris2.hover {
        background-position: -186px 0;
    }
    .iradio_polaris2.checked {
        background-position: -217px 0;
    }
    .iradio_polaris2.disabled {
        background-position: -248px 0;
        cursor: default;
    }
    .iradio_polaris2.checked.disabled {
        background-position: -279px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_polaris2,
    .iradio_polaris2 {
        background-image: url(polaris2@2x.png);
        -webkit-background-size: 310px 20px;
        background-size: 310px 20px;
    }
}